*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    margin: 0;
    padding: 0;
    
}
body{
    background: #06458b;
    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

  
  body::-webkit-scrollbar {
    display: none; /* Para navegadores basados en WebKit (Chrome, Safari) */
  }